.cartHidden {
  display: none;
}

.cartPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100px;
  margin-top: 100px;
  z-index: 10;
}

.cardElement {
  position: relative;
  display: flex;
  min-height: 336px;
  width: calc(100vw - 200px);
  border-bottom: 1px solid #e5e5e5;
  align-items: center;
}

.cartImgContainer {
  width: 200px;
  height: 288px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.cartImg {
  width: 100%;
  height: auto;
}

.imageAndButton {
  position: absolute;
  right: 0;
  display: flex;
}

.Add_product {
  display: flex;
  flex-direction: column;
  height: 288px;
  margin-right: 24px;
  width: 45px;
  position: relative;
}

.Add_product button {
  height: 45px;
  width: 45px;
  color: #1d1f22;
  border: 1px solid #1d1f22;
  background-color: white;
  font-size: 32px;
  font-weight: 100;
}

.cardDetails {
  height: 100%;
}

.card_title {
  height: 27px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
  color: #1d1f22;
  text-align: start;
  margin: 12px 0;
}

.card_name {
  height: 27px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  color: #1d1f22;
  text-align: start;
  margin: 0;
}

.card_price {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #1d1f22;
  text-align: start;
  margin: 16px 0;
}

.card_size {
  height: 18px;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #1d1f22;
  text-align: start;
  margin: 0;
  text-transform: uppercase;
}

.container_sizes {
  display: flex;
  margin-top: 5px;
  margin-bottom: 12px;
}

.productSize {
  width: 43px;
  padding: 10px;
  margin: 0;
  margin-right: 4px;
  background: #fff;
  border: 1px solid #1d1f22;
  text-align: center;
}

.container_colors {
  display: flex;
  margin-top: 5px;
}

.Productcolor {
  width: 36px;
  height: 36px;
  margin-right: 8px;
}

.btn1 {
  position: absolute;
  top: 0;
}

.btn2 {
  position: absolute;
  bottom: 0;
}

.switchButtons {
  position: absolute;
  z-index: 10;
  right: 8px;
  top: 86%;
}

.switchButtons button {
  margin: 3px;
  color: white;
  width: 24px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0.73);
  border: none;
}

.chosenSize {
  background: #1d1f22;
  width: 43px;
  padding: 10px;
  margin: 0;
  margin-right: 4px;
  color: #fff;
  text-align: center;
}

.chosenColor {
  width: 32px;
  height: 32px;
  border: 1px solid #5ece7b;
  padding-top: 1px;
  margin-right: 8px;
}

.numberOfItems {
  width: 100%;
  margin-top: 133px;
  font-size: 24px;
  text-align: center;
}

.TotalQuantity {
  width: calc(100vw - 200px);
}

.TotalQuantity h3 {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #1d1f22;
}

.TotalQuantity h3 span {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #1d1f22;
}

.orderBtn {
  flex-direction: column;
  color: #fff;
  padding: 13px 115px;
  background: #5ece7b;
  border: none;
  margin-bottom: 274px;
}

.cartTitle {
  margin: 50px 0;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #1d1f22;
  text-align: start;
  width: calc(100vw - 200px);
}

.grey-line {
  width: calc(100vw - 200px);
  border: 1px solid #e5e5e5;
}
