.showItems {
  margin-top: 80px;
}

.out_of_stock {
  position: absolute;
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 24px;
color: #8D8F9A;
top: 150px;
left: 90px;
}

.artcicle {
  height: 444px;
  position: relative;
}

.artcicle:hover {
  background-color: #fff;
  box-shadow: 0 4px 35px rgba(168, 172, 176, 0.528);
}

.hiddenTitle {
  display: none;
}

.Items_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  width: calc(100vw - 220px);
  margin-left: 110px;
  margin-bottom: 190px;
}

.Item-Img {
  width: calc(100% - 32px);
  height: auto;
  margin-left: 16px;
}

.image-container {
  width: 100%;
  height: 314px;
  overflow: hidden;
  padding-top: 16px;
}

.categoryName {
  text-align: start;
  padding-left: 101px;
  padding-top: 80px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  color: #1d1f22;
  margin-bottom: 103px;
  margin-top: 0;
}

.artcicleName {
  text-align: start;
  width: 96%;
  height: 29px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #1d1f22;
  margin: 24px 0 0 0;
  margin-left: 2%;
}

.artciclePrice {
  text-align: start;
  width: 96%;
  height: 29px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #1d1f22;
  margin: 0;
  margin-left: 2%;
}

.hideItems {
  display: none;
}

.storedInCart {
  position: absolute;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #5ece7b;
  top: 304px;
  right: 31px;
  display: flex;
  align-items: center;
}

.storedCart {
  margin-left: 14px;
}

.non-storedInCArt {
  display: none;
}

.article-stored {
  background-color: #fff;
  box-shadow: 0 4px 35px rgba(168, 172, 176, 0.19);
}
